{% extends "layout.html" %}

{% block title %}x{% endblock title %}

{% block head %} {{ super() }}
<meta name="description" content="new blog" />
<link rel="stylesheet" href="{{ css_easymde }}">
<script src="{{ js_easymde }}"></script>
{% endblock head %}

{% block content %}
  <form action="/blogs/new" method="post">
    <label for="title">Blog Title:</label>
    <input type="text" name="title" placeholder="Enter blog title" required>
    <input type="text" name="description" placeholder="Describe this blog..." required>
    <textarea name="content" id="blog" placeholder="Write your blog..."></textarea>
    <script>
      const easyMDE = new EasyMDE({element: document.getElementById('blog')});
    </script>
    <input type="submit" value="Submit">
  </form>
{% endblock content %}
