<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="evccyr's(yash shinde) personal website">
  <title>evccyr.com</title>
  <!-- WARNING: Tailwind breaks markdown preview -->
  <!-- <link rel="stylesheet" type="text/css" href="{{ css_tailwind }}"> -->
  <link rel="stylesheet" href="{{ css_easymde }}">
  <script src="{{ js_easymde }}"></script>
</head>

<body class="">
  <form action="/blogs/new" method="post">
    <textarea name="content" id="blog"></textarea>
    <script>
      const easyMDE = new EasyMDE({element: document.getElementById('blog')});
    </script>
    <input type="submit" value="Submit">
  </form>
</body>

</html>
