@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "mthree";
  src: url("../fonts/m3x6.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "mfive";
  src: url("../fonts/m5x7.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "msix";
  src: url("../fonts/m6x11plus.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PressStart";
  src: url("../fonts/PressStart2P-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
