<!DOCTYPE html>
<!-- Simply h-screen or h-full on <body> isn't working -->
<html lang="en">
  <head>
    {% block head %}
    <title>{% block title %}{% endblock title %}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- html path's are project aware unlike axum -->
    <script src="/static/js/htmx.min.js"></script>
    <!-- tailwind's output.css -->
    <link rel="stylesheet" href="/static/css/output.css"></script> 
    {% endblock head %}
  </head>

<!-- TODO: Find out why: Simply h-screen or h-full on <body> isn't working -->
  <body class="font-msix font-light text-2xl text-slate-800 dark:bg-black dark:text-slate-200">
    {% block content %}{% endblock content %}
  </body>

</html>
