@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";
@custom-variant dark (&:where(.dark, .dark *));

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
